<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/customer/layout::headerfiles">
</head>
<body>
<header th:replace="/customer/layout::menu"></header>

<form th:action="@{/create-province}" th:object="${province}" method="post">
    <div class="container">
        <h2>Create province</h2>
        <th:block th:if="${message}">
            <p th:text="${message}"></p>
        </th:block>
        <div class="row">
            <div class="col-2"><label class="mb-2 mr-sm-2">Name:</label></div>
            <div class="col-10"> <input type="text" th:field="*{Name}"/></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-10"><input type="submit" class="btn btn-info" value="Create"></div>

        </div>
    </div>
</form>
</body>
<th:block th:replace="/customer/layout::footer"></th:block>
<th:block th:replace="/customer/layout::jsfiles"></th:block>
</html>