<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/customer/layout::headerfiles">
</head>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<body>
<header th:replace="/customer/layout::menu"></header>

<form th:action="@{/delete-province}" th:object="${province}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <div class="container">
        <h2>Delete province</h2>
        <div class="row">
            <div class="col-2"><label class="mb-2 mr-sm-2">Name:</label></div>
            <div class="col-10"><p th:text="${province.Name}"></p></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-10"><input type="submit" class="btn btn-danger" value="Delete"></div>

        </div>
    </div>
</form>
</body>
<th:block th:replace="/customer/layout::footer"></th:block>
<th:block th:replace="/customer/layout::jsfiles"></th:block>
</html>
