<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/customer/layout::headerfiles">
</head>
<body>
<header th:replace="/customer/layout::menu"></header>
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Province</h1>
                <div class="btn-toolbar mb-2 mb-md-0">

                    <a href="/create-province" class="btn btn-primary">Create new province</a>

                </div>
            </div>



            <h2>Section title</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="province : ${provinces}">
                        <tr>
                            <td><a th:href="@{/view-province/__${province.id}__}" th:text="${province.name}"></a></td>
                            <td><a th:href="@{/edit-province/__${province.id}__ }">Edit</a></td>
                            <td><a th:href="@{/delete-province/__${province.id}__ }">Delete</a></td>
                        </tr>
                    </th:block>
                    </tbody>

                </table>
            </div>
        </main>
    </div>
</div>


</body>
<th:block th:replace="/customer/layout::footer"></th:block>
<th:block th:replace="/customer/layout::jsfiles"></th:block>
</html>