<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/customer/layout::headerfiles">
</head>
<body>
<header th:replace="/customer/layout::menu"></header>
<th:block th:if="${message}">
    <div class="alert-success" style="text-align: center">
        <p th:text="${message}"></p>
    </div>
</th:block>
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Province</h1>
                <div class="btn-toolbar mb-2 mb-md-0">

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formCreateProvince">Create
                        new province
                    </button>
                </div>
            </div>



            <h2>Section title</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="province : ${provinces}">
                        <tr>
                            <td><a th:href="@{/view-province/__${province.id}__}" th:text="${province.name}"></a></td>
                            <td><a th:href="@{/edit-province/__${province.id}__ }">Edit</a></td>
                            <td><a th:href="@{/delete-province/__${province.id}__ }">Delete</a></td>
                        </tr>
                    </th:block>
                    </tbody>

                </table>
            </div>
        </main>
    </div>
</div>

<div class="modal" th:id="formCreateProvince">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Information Province</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form th:action="@{/provinces}" th:object="${province}" method="post">
                    <div class="container">
                        <div class="row">
                            <div class="col-4"><label class="mb-2 mr-sm-2">Name:</label></div>
                            <div class="col-8"><input type="text" th:field="*{name}"/></div>
                        </div>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-4"><input type="submit" class="btn btn-info" value="Create"></div>
                            <div class="col-4">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>

</body>
<th:block th:replace="/customer/layout::footer"></th:block>
<th:block th:replace="/customer/layout::jsfiles"></th:block>
</html>