<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/layout/CV.css" rel="stylesheet"type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="navbar navbar-expand-sm bg-dark navbar-dark" >
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/CV">CV</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/usefixed">Use Fixed</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/layout">Creating basic layouts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/shortstories">Create page for short stories</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-12">
        <div class="col-4" style="float: left;text-align: center">
            <div>
                <img src="https://thumbs.dreamstime.com/b/handsome-man-white-shirt-closeup-portrait-handsome-man-white-shirt-posing-studio-attractive-guy-fashion-hairstyle-125019386.jpg">
            </div>
        </div>
        <div class="col-8" style="float: right">
            <div>
                <h1>Ryan Nguyen</h1>
            </div>
            <div>
                <h4>Gender:Male</h4>
            </div>
            <div>
                <h4>Address: Texas,USA</h4>
            </div>
            <div>
                <h4>Phone: +10005846</h4>
            </div>
        </div>

    </div>
</div>
<div>
    <p style=" border-bottom: 1px dotted gold;"></p>
</div>
<div class="row">
    <div class="col-12">
        <div class="col-4" style="float: left;text-align: center">
            <div>
                <h2>Education</h2>
            </div>
        </div>
        <div class="col-2" style="float: left;">
            <div>
                <i class='fab fa-accusoft' style='font-size:48px;color:red'></i>
            </div>
        </div>
        <div class="col-6" style="float: right">
            <div>
                <p>2018:Cultural entrepreneurship, Norwegian Academy of music</p>
                <p>2013/6:BA in theatre production and acting,North university/Hogskolen i Nord-Trondelag,HiNT </p>
                <p>2012/3:Romerike Fork high school,theatre</p>
                <p>2009/12:Fyllingsdalen high school,music,dance and drama with main focus on drama</p>
                <p>2002/12:Bergen cultural school,theatre groups,individual theatre classes and remember of the"talent class"</p>
            </div>
        </div>
    </div>
</div>
<div>
    <p style=" border-bottom: 1px dotted gold;"></p>
</div>
<div class="row">
    <div class="col-12">
        <div class="col-4" style="float: left;text-align: center">
            <div>
                <h2>Skills</h2>
            </div>
        </div>
        <div class="col-2" style="float: left;">
            <div>
                <i class='fab fa-angellist' style='font-size:48px;color:blue'></i>
            </div>
        </div>
        <div class="col-6" style="float: right">
            <div>
                <p>Stage fight,different kinds of mask,clown,storytelling,theatre of objects, cartoon theatre, buffon,project blogging,science experiments, writing, producing, threatre teacher for students from 3-30 years.</p>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

</html>